.wp-block-media-text {
	&.has-media-on-the-right {
		.wp-block-media-text__content {
			padding-left: 0;
		}
	}

	&__media {
		img {
			border-radius: 0.75rem;
		}
	}

	@media screen and (max-width: 600px) {
		padding: 0;

		&.jo-hero {
			.wp-block-media-text {
				&__content {
					padding: 0;

					.wp-block-group {
						padding: 0;
					}
				}

				&__media {
					width: 100%;
					min-height: 400px;
				}
			}
		}
	}
}
