<!-- wp:template-part {"slug":"header","theme":"jourj-theme"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0","bottom":"0"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="margin-top:0;margin-bottom:0">
    <!-- wp:post-title {"textAlign":"center","level":1,"fontSize":"lg"} /-->

    <!-- wp:group {"className":"is-style-group-container-colored","style":{"border":{"radius":"16px"},"shadow":"var:preset|shadow|lg"},"backgroundColor":"white","layout":{"type":"constrained"}} -->
    <div class="wp-block-group is-style-group-container-colored has-white-background-color has-background"
        style="border-radius:16px;box-shadow:var(--wp--preset--shadow--lg)">
        <!-- wp:post-content {"style":{"spacing":{"blockGap":"0"}},"layout":{"type":"default"}} /-->
    </div>
    <!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"jourj-theme","area":"footer"} /-->