.jo-block-header {
	&__container {
		display: grid;
		grid-template-columns: 1fr auto;
		padding-bottom: 2rem;
		border-bottom: solid 1px var(--wp--preset--color--primary-light);
		max-width: var(--wp--style--global--wide-size);
		margin: 2rem auto 4rem auto;
	}

	&__logo {
		display: flex;
		width: 300px;
		transition: all 300ms;

		&:hover {
			opacity: 0.75;
		}

		img {
			width: 100%;
			height: auto;
		}
	}

	&__innerblocks {
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}
}
